<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
	<title>SUPRES</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='../static/styles.css') }}" />
</head>

<body style="background-color:#ffffff;">
<div class="left-side round">
	<form action="/favorite/" method="POST">
	<div class="autocomplete" style="width:200px;">
		<label for="fav"></label><input id="fav" type="text" name="fav" placeholder="Ticker" autocomplete="off" required>
	</div>
		<br>
		<input class="analyze-button round"  type="submit" name="action" value="Add Favorite">
		<br>
		<input class="analyze-button round"  type="submit" name="action" value="Remove Favorite">
		</form>

	<table class="left-side-table-inside round">
		<tr>
			<th>Ticker</th>
			<th>Price</th>
		</tr>

		{% for favs in favourite_list %}
		<tr>
			<td class="favorite-list"><span class="favorite-list-coin">{{ favs }}</span></td>
			<td id="{{ favs.lower() }}-price">---</td>
		</tr>
		{% endfor %}
	</table>


	<form action="/run_alarm_script/" method="POST">
		<br>
		<input class="analyze-button round" type="submit" name="action" value="Alarm tracker start">
		</form>
		<br>
	<form action="/stop_alarm_script/" method="POST">
		<input class="analyze-button round" type="submit" name="action" value="Alarm tracker stop">
		<br>
	</form>

</div>
<div class="middle-side round">
	<form action="/run_script/" method="POST">
		<br>
		<form autocomplete="off" action="/action_page.php">
			<div class="autocomplete" style="width:200px;">
				<label for="myInput"></label><input id="myInput" type="text" name="ticker" placeholder="Ticker" autocomplete="off" required>
			</div>
			<br><br>
			<div class="custom-select round" style="width:200px;">
				<label for="tf"></label>
				<select name="timeframe" id="tf" required>
				<option hidden disabled selected>Time Frame</option>
				<option value="1M">1M</option>
				<option value="3M">3M</option>
				<option value="5M">5M</option>
				<option value="15M">15M</option>
				<option value="30M">30M</option>
				<option value="1H">1H</option>
				<option value="2H">2h</option>
				<option value="4H">4H</option>
				<option value="6H">6H</option>
				<option value="8H">8H</option>
				<option value="12H">12H</option>
				<option value="1D">1D</option>
				<option value="3D">3D</option>
			</select>
			</div>
			<br>
			<div class="custom-select round" style="width:200px;">
				<label for="sensitivity-option"></label>
				<select name="sensitivity" id="sensitivity-option" required>
				<option hidden disabled selected>Sensitivity</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
			</select>
			</div>
			<br>
			<div class="custom-select round" style="width:200px;">
				<label for="candle-count"></label>
				<select name="candle_count" id="candle-count" required>
				<option hidden disabled selected>Candle Count</option>
				<option value="250">250</option>
				<option value="500">500</option>
				<option value="750">750</option>
				<option value="1000">1000</option>
				<option value="1250">1250</option>
				<option value="1500">1500</option>
				<option value="1750">1750</option>
				<option value="2000">2000</option>
			</select>
			</div>
			<div class="autocomplete" style="width:200px;">
				<label for="sma1"></label><input id="sma1" type="text" name="sma1" placeholder="sma" autocomplete="off" value="50" required>
			</div>
			<br>
			<div class="autocomplete" style="width:200px;">
				<label for="sma2"></label><input id="sma2" type="text" name="sma2" placeholder="sma" autocomplete="off" value="100" required>
			</div>
			<br>
			<div class="autocomplete" style="width:200px;">
				<label for="sma3"></label><input id="sma3" type="text" name="sma3" placeholder="sma" autocomplete="off" value="200" required>
			</div>
			<br>
			<input class="analyze-button round" type="submit" value="Analyze">

		</form>
	</form>

</div>





<div class="right-side round">
	<br>
	<form action="/alarm/" method="POST">
		<form autocomplete="off" action="/action_page.php">
			<div class="autocomplete" style="width:200px;">
				<label>
					<input id="myInput1" type="text" name="ticker" placeholder="Ticker" autocomplete="off" required>
				</label>
			</div>
			<br> <br>
			<div class="autocomplete" style="width:200px;">
				<label>
					<input id="alarm-price" autocomplete="off" type="text" name="alarm-price" placeholder="Alarm Price" required>
				</label>
			</div>
			<br>
			<input class="analyze-button round" type="submit" name="action" value="Add">
			<br>
			<input class="analyze-button round" type="submit" name="action" value="Remove">
			<br>
			<input class="analyze-button round" type="submit" name="action" value="Remove All">

		</form>
	</form>
	<br>
</div>
<div class = "alarm-table round" style="display: inline-block;padding-left: 10px">
	<table  class="right-table round" id="coin-names-" style="float: left;border-collapse:separate;">
		<tr>
			<th id="header-coins-"> Alarms </th>
		</tr>
		<tr>
			{% for coin,value in alarm_table.items() %}
			{% set alarm_count = value[0] %}
			{% set coin_alarms = value[1] %}
			<td>
			<button class="remove-alarm-button" onclick="fill_ticker(this.value, id)" type="button" title="{{ coin }}" name="action" value="{{ coin }}"> {{ coin }} </button>
			<td><button class="alarm-count-button" style="margin-left: -15px" title="Alarm count: {{ alarm_count }}"><span>{{ alarm_count }}</span>  </button></td>
				{% for alarm in coin_alarms %}
			<td>
			<button class="remove-alarm-button" style="vertical-align:middle;background: coral" title="remove: {{ coin }} {{ alarm }}"
				        onclick="fill_ticker_price(this.value, id)" id="{{ coin }}" type="button" name="action"
				        value="{{ alarm }}"><span> {{ alarm }} </span></button></td>{% endfor %}
		</tr>
		{% endfor %}
	</table></div>
</body>
<script src="{{url_for('static', filename='alarm.js')}}"></script>
<script src="../static/binance_livedata.js"></script>
</html>
